@font-face {
font-family: 'myFont';
src:  url('./YeonSung-Regular.woff2') format('woff2'),
    url('./YeonSung-Regular.woff') format('woff');
font-weight: 600;
font-style: normal;
}

.hello {
    font-family: "myFont";
    color: red;
    background: url('./icon.png') center center;
    display: inline-block;
}